body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.hero,
header,
footer {
    background-color: #1f2937;
}

.header-logo,
.hero-header {
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
}

.header-links,
.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    display: flex;
    gap: 15px;
}

.header-links a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 75px 0;
    gap: 25px;
}

.hero-content {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero-header {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.btn {
    padding: 5px 20px;
    border: none;
    border-radius: 6px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    text-decoration: none;
}

.hero-img {
    width: 450px;
    border-radius: 25px;
}

.info-section {
    padding: 40px 0;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.info-content {
    width: 150px;
}

.info-header,
.quote-text {
    color: #1f2937;
}

.info-text {
    text-align: center;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-top: 0;
}

.info-img {
    border-width: 3px;
    border-color: #3882f6;
    width: 140px;
    height: 140px;
    border-style: solid;
    border-radius: 8px;
}

.quote-section {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 15px 0;
}

.quote-content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 75%;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0px;
}

.customer {
    font-weight: bolder;
}

.cta {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.cta-content {
    background-color: #3882f6;
    width: 85%;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cta-btn {
    padding: 5px 20px;
    border: solid;
    border-radius: 6px;
    border-color: #e5e7eb;
    color: #e5e7eb;
    font-weight: bold;
    text-decoration: none;
}

.cta-header {
    font-size: 20px;
    padding: 0;
    margin-bottom: 0;
}

.cta-text {
    margin-top: 0;
}

.cta-header,
.cta-text {
    color: #e5e7eb;
}

footer {
    color: #e5e7eb;
    padding: 5px 0;
    text-align: center;
}

